@{
    ViewData["Title"] = "Home Page";
}

@model Chef

<div class="container text-center mt-5">
    <h3>Add a Chef!</h3>
    <div class="d-flex justify-content-start mb-2">
        <a href="/" class="btn btn-primary btn-outline-dark text-white">Home</a>
    </div>
    <form action="/chef/add" method="post">
        <div class="row gap-3">
            <div class="col-4">
                <div class="form-group">
                    <label for="FirstName" class="form-label">First Name:</label>
                    <input asp-for="FirstName" class="form-control">
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <div class="form-group">
                    <label for="LastName" class="form-label">Last Name:</label>
                    <input asp-for="LastName" class="form-control">
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="DateOfBirth" class="form-label">Date of Birth:</label>
                    <input asp-for="DateOfBirth" type="date" class="form-control">
                </div>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                <div>
                    <input type="submit" value="Add Chef" class="btn btn-success btn-outline-dark text-white">
                </div>
            </div>
        </div>
    </form>

</div>
            